
@model Workout

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Workout</h2>
			<hr />
		</div>

		<div asp-validation-summary="All"></div>

		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Date"></label>
			<input asp-for="Date" class="form-control" />
			<span asp-validation-for="Date" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Note"></label>
			<input asp-for="Note" class="form-control" />
			<span asp-validation-for="Note" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="StrengthId"></label>
			<input asp-for="StrengthId" class="form-control" />
			<span asp-validation-for="StrengthId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CardioId"></label>
			<input asp-for="CardioId" class="form-control" />
			<span asp-validation-for="CardioId" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Workout" asp-action="Index" class="btn btn-secondary" style="width:200px">
			Back to Workout List
		</a>
	</div>
</form>

@*
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
*@