
@model Strength


<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Strength Training</h2>
			<hr />
		</div>

		<div asp-validation-summary="All"></div>

		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Sets"></label>
			<input asp-for="Sets" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="RepsPerSet"></label>
			<input asp-for="RepsPerSet" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Weights"></label>
			<input asp-for="Weights" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="StrengthNote"></label>
			<input asp-for="StrengthNote" class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Strength" asp-action="Index" class="btn btn-secondary" style="width:250px">
			Back to Strength Training
		</a>
	</div>
</form>

@*
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
*@