@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workout Tracker!</h1>
    <h2>CRUD workout days with Strength and Cardio training sets. Click one of the tabs above to get started!</h2>
</div>
